body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: cursive;
  background-color: slateblue;
}

.calendar-container {
  background-color: white;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.month-name {
  margin: 0;
  background-color: orangered;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.day-name {
  font-size: 20px;
  color: darkgray;
}

.day-number {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

.year {
  margin: 20px 0;
  font-size: 20px;
  color: darkgray;
  font-weight: 500;
}
a {
  position: absolute;
  text-decoration: none;
  padding: 10px 40px;
  margin-top: 400px;
  border-radius: 4px;
  box-shadow: 0px 4px 30px -6px rgba(197, 250, 5, 0.973);
  background: rgba(197, 250, 5, 0.973);
  color: rgb(250, 0, 0);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
